/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    color: var(--accent-color);
    background: center / cover var(--header-image-cover) no-repeat;
    background-color: var(--background-color);
    background-attachment: fixed;
}

.header {
    display: grid;
    grid-template-rows: 0.87fr 0.95fr 0.65fr;
    position: relative;
    padding: var(--global-padding);
}

.decorated-zone {
    height: 100vh;
}

.decorated-zone::before, .decorated-zone::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-color: var(--navigation-color);
}

.decorated-zone::before {
    top: var(--global-padding);
    right: var(--global-padding);
    border-width: 1px 1px 0 0;
}

.decorated-zone::after {
    bottom: var(--global-padding);
    left: var(--global-padding);
    border-width: 0 0 1px 1px;
}

.element-decor {
    position: absolute;
    display: var(--display-element-decor);
    align-items: center;
    gap: 10px;
    top: calc(var(--global-padding) + 3px);
    right: calc(var(--global-padding) + 9px);
}

.element-decor::after {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
    font-size: var(--title-size);
    line-height: 99px;
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
    height: min-content;
}

.header__theme-menu {
    align-self: center;
}

.header__theme-menu-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, 26px);
    justify-content: right;
    gap: 11.5px;
}

.header__theme-menu-button {
    display: inline-flex;
    padding: 0 13px;
    background: none;
    outline: none;
    border: 1px solid transparent;
    text-transform: lowercase;
    height: 100%;
    width: 100%;
    color: var(--navigation-color);
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:focus-visible {
    border-color: var(--border-hover-color);
    border-width: 0 0 1px 0;
    border-style: solid;
}

.header__theme-menu-button_active {
    border: 1px solid currentColor;
    pointer-events: none;
}

.content {
    padding: var(--global-padding);
    color: var(--text-color);
    margin: 31px 0;
}

.content__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.content__section--images {
    display: flex;
}

.content__section:not(:last-child) {
    margin-block-end: 50px;
}

.content__title {
    width: 100%;
}

.content__text {
    font-size: 18px;
    color: var(--navigation-color);
    font-weight: 700;
}

.content__text--regular {
    font-weight: 400;
}

.content__text--decor {
    background-color: var(--accent-color);
    color: var(--second-color);
}

.content__wrapper {
    display: grid;
    gap: 20px;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.articles__title {
    margin-block-end: 10px;
}

.articles__title--regular {
    font-weight: 400;
}

.articles__description {
    color: var(--text-color);
}

.link {
    position: relative;
    text-decoration: none;
    text-shadow: var(--accent-color) 2px 2px;
}

.link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-block-end: 1px solid currentColor;
}

.link:focus-visible {
    outline: none;
    border: 1px solid currentColor;
}

.articles__gallery-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 10px;
}

.articles__gallery-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image_sunset {
    grid-area: sunset;
}

.image_ice-cream {
    grid-area: ice_cream;
}

.image_tape {
    grid-area: tape;
}

.image_books {
    grid-area: books;
}

.image_street {
    grid-area: street;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__title {
    font-size: var(--title-size);
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);
    line-height: 130px;
}

@media (width >= 768px) {
    .header {
        grid-template-rows: 1.45fr 0.85fr 0.91fr;
    }

    .header__title {
        margin-inline-start: -20px;
    }

    .header__description {
        justify-self: right;
        max-width: 50%;
    }

    .content {
        margin: 40px 0;
    }

    .content__section:not(:nth-child(2n)) {
        grid-template-columns: min-content 2fr;
        gap: 25px;
    }

    .content__section:not(:last-child) {
        margin-block-end: 80px;
    }

    .content__title {
        width: 30vw;
    }

    .articles__gallery-wrapper {
        display: grid;
        height: 100%;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-template-areas:
                'sunset sunset ice_cream'
                'tape books ice_cream'
                'tape street street';
        margin-block-start: 20px;
    }
}

@media (width >=1024px) {
    .header {
        grid-template-rows: 1.4fr 1fr 0.8fr;
    }
    .header__theme-menu {
        justify-self: center;
        align-self: start;
    }
    .header__theme-menu-list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .content__wrapper--special {
        grid-template-columns: repeat(3, 1fr);
    }
}
