/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --background-color: #000028;
    --header-image-cover: url(../images/cover-image-dark.png);
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --navigation-color: #FF0070;
    --second-color: #000028;
    --text-color: #F1B2CE;
    --border-hover-color: #FF007066;
    --display-element-decor: flex;

    --global-padding: 10px;
    --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
    :root {
        --global-padding: 20px;
        --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}